@import 'tailwindcss';

@theme {
  --color-lighter: rgba(255, 255, 255, 0.1);
  --color-darker: rgba(0, 0, 0, 0.1);

  --color-base-discordia: color-mix(
    in oklab,
    hsl(230 calc(1 * 6.383%) 18.431% /1) 100%,
    #000 0%
  );
  --color-base-discordia-lighter: color-mix(
    in oklab,
    hsl(230 calc(1 * 6.383%) 18.431% /1) 100%,
    #fff 10%
  );
  --color-input-bg: color-mix(
    in oklab,
    hsl(0 calc(1 * 0%) 0% /0.0784313725490196) 100%,
    hsl(0 0% 0% /0.0784313725490196) 0%
  );
  --color-input-ring: color-mix(
    in oklab,
    hsl(234.935 calc(1 * 85.556%) 64.706% /1) 100%,
    #000 0%
  );
  --color-input-outline: color-mix(
    in oklab,
    hsl(0 calc(1 * 0%) 100% /0.2) 100%,
    hsl(0 0% 0% /0.2) 0%
  );
  --color-blurple: color-mix(
    in oklab,
    hsl(234.935 calc(1 * 85.556%) 64.706% /1) 100%,
    #000 0%
  );
  --color-blurple-lighter: color-mix(
    in oklab,
    hsl(234.935 calc(1 * 85.556%) 64.706% /1) 100%,
    #000 10%
  );

  --color-accordion-header: hsl(240 calc(1 * 4%) 60.784% /0.0784313725490196);
}

@media (min-width: 601px) and (max-width: 1000px) {
  :root {
    --sidebar-width: 70dvw;
  }
}

@media (min-width: 1001px) {
  :root {
    --sidebar-width: 400px;
  }
}

@media (max-width: 600px) {
  :root {
    --sidebar-width: 100dvw;
  }

  #channel-container {
    padding-right: 8px;
  }

  #channels-list-container,
  #characters-list {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

:root {
  --profile-container-height: 68px;
  --sidebar-width-mobile: 80px;
  --character-container-width: 80px;
}

#extensionsMenu,
#options {
  a.interactable {
    padding: 10px !important;
  }
  .interactable {
    padding: 10px !important;
  }
}

select {
  padding: 8px !important;
}

.mes:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

dialog.popup {
  margin: auto;
}

#sidebar-container {
  height: 100dvh;
  z-index: 31;
  width: var(--sidebar-width);
  position: relative;
  backdrop-filter: blur(calc(var(--SmartThemeBlurStrength) * 2), 10px);
  background-color: var(--SmartThemeChatTintColor, rgba(255, 255, 255, 0.95));
  border-right: rgba(255, 255, 255, 0.1) 1px solid;
}

#server-container {
  backdrop-filter: blur(20px);
  height: calc(100% - var(--profile-container-height));
  display: flex;
  flex-direction: row;
  padding: 8px 0 8px 0;
  margin: 0px;
  gap: 4px;
  z-index: 1;
}

#user-container {
  padding-left: 8px;
  padding-right: 8px;
  align-content: center;
  height: var(--profile-container-height);
  background-color: var(--SmartThemeBlurTintColor, rgba(54, 57, 63, 0.95));
}

#character-container {
  width: var(--character-container-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: rgba(255, 255, 255, 0.1) 1px solid;
}

#characters-list {
  overflow-y: scroll;
  width: var(--character-container-width);
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#channel-container {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 50%;
}

#channels-list-container {
  overflow-y: scroll;
}

#sheld {
  height: 100dvh;
  width: calc(100dvw - var(--sidebar-width));
  position: absolute;
  left: var(--sidebar-width);
  top: 0;
  max-height: unset;
}

#user-settings-buttons {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-right: 8px;
}

#user-profile-container {
  padding: 6px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  gap: 8px;
}

#send_form {
  min-height: var(--profile-container-height) !important;
  border: none !important;
  border-radius: 0px !important;
  #nonQRFormItems {
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.1) !important;
    margin: 8px;
    border-radius: 8px;
  }
}

#sendLeftForm {
  padding-left: 8px !important;
}

#rightSendForm,
#leftSendForm {
  width: unset;
}

#form_sheld {
  margin: 0px;
}

#extras_menu_button {
  position: relative;
  transition:
    background-color 0.2s ease-in-out,
    outline 0.2s ease-in-out;
  &:hover {
    outline: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

#extensionsMenu,
#options {
  transform: translateX(0px) !important;
  position: relative !important;
  box-shadow: none !important;
  padding: 0px !important;
}

#options .options-content {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom: none !important;
}

#options {
  border-radius: 0px !important;
}

#extensionsMenu.options-content {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top: none;
}

#unified_extras_menu {
  bottom: 20px;
  left: -5px;
  position: absolute;
  max-height: 90dvh;
  overflow: scroll;
}

#options_button {
  margin-left: 0px;
  width: unset;
}
#extensionsMenuButton {
  padding: 0px;
}

#chat,
#extensionTopBar,
#extensionConnectionProfiles {
  border: none !important;
  border-radius: 0px !important;
}

#channel-list {
  overflow-y: auto;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.section-header {
  padding-block: 4px !important;
  padding-inline: 12px !important;
  font-size: 12px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  color: rgba(255, 255, 255, 0.6) !important;
}

.drawer-toggle .drawer-icon {
  min-width: unset !important;
  font-size: 24px !important;
}

.discord-entity-avatar {
  width: 48px !important;
  height: 48px !important;
  border-radius: 35% !important;
  object-fit: cover !important;
  cursor: pointer;
  &:hover {
    border: rgba(255, 255, 255, 0.1) !important;
  }
}

.discord-entity-item {
  flex: none !important;
}

#new-character-button {
  border: gray 2px dashed !important;
  border-radius: 15px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
}

#home-button {
  border: gray 1px solid !important;
  border-radius: 15px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
  }
}

.divider {
  background-color: rgba(255, 255, 255, 0.1) !important;
  min-height: 1px !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  &#characters-divider {
    min-width: 60% !important;
    width: 60% !important;
  }
  &#channel-divider {
    min-width: 90% !important;
    width: 90% !important;
  }
}

.drawer-content {
  z-index: 32 !important;
}
