.collage_2 {
  .img_1 {
    border-radius: 25% 0 0 25%;
  }
  .img_2 {
    border-radius: 0 25% 25% 0;
  }
}

.collage_3 {
  flex-wrap: wrap;
  .img_1 {
    border-radius: 25% 0 0 0;
  }
  .img_2 {
    border-radius: 0 25% 0 0;
  }
  .img_3 {
    border-radius: 0 0 25% 25%;
    object-fit: cover;
  }
}
